body{
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom:100px;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.border-line{
    border-left: 3px solid;
    border-color:tomato;
    border-image-slice: 1;
    border-radius: 2px;
    
}
.link-button{
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow:10px 10px 30px gray;
    border-radius: 5px;
    background-image: linear-gradient(tomato,tomato);
    
}
a:hover{
     background-color:rgb(118, 17, 158);
}
.span-color{
    color: rgb(255, 123, 0);
    padding-top: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
    
}
.raian{
    margin-right: 10%;
}
.half-width img{
    width: 100%;
    padding-right:50%;
}
.mission{
    width:32%;
    margin-left: 10%;
    box-shadow: 10px 10px 30px gray;
    text-align: center;
    border-left: 2px solid;
    border-image: linear-gradient(rgb(18, 6, 85),rgb(24, 99, 212));
    border-image-slice: 1;
} 
.mission-color{
    color: rgb(8, 8, 63);
}
#mission22{
    text-align: center;
}
.flexible-container{
    display: flex;
    
}
.width{
    width: 300px;
    height: 300px;
}
.left-img{
    background-image: url("shape-2.png");
    background-repeat: no-repeat;
    background-position: left;
}
.right-img{
    background-image: url("shape-3.png");
    background-repeat: no-repeat;
    background-position: right;
}
.fle-con{
    margin-left: 80px;
    box-shadow: -10px 10px 20px gray;
    padding-bottom: 2%;
    border-left: 3px solid;
}
.project{
    margin-left: 10%;
    
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    font-style: italic;
    box-shadow: 10px 10px 30px gray;
}
.tomato{
    color: tomato;
}
.foot-con{
    color: dimgray;
}